# 갭마인더 데이터 집합 불러오기

In [1]:
import pandas

df = pandas.read_csv('../data/gapminder.tsv', sep='\t')

import pandas as pd
df = pd.read_csv('../data/gapminder.tsv', sep='\t')

# 불러온 데이터 집합 살펴보기

In [3]:
print(df.head())

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [4]:
df.head().T

                     0            1            2            3            4
country    Afghanistan  Afghanistan  Afghanistan  Afghanistan  Afghanistan
continent         Asia         Asia         Asia         Asia         Asia
year              1952         1957         1962         1967         1972
lifeExp         28.801       30.332       31.997        34.02       36.088
pop            8425333      9240934     10267083     11537966     13079460
gdpPercap      779.445      820.853      853.101      836.197      739.981

In [ ]:
print(type(df))

In [ ]:
print(df.shape)
# print(df.shape[0])
# print(df.shape[1])

In [5]:
df.columns

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

# 열 단위로 데이터 추출하기

# loc 속성으로 행 단위 데이터 추출하기

# tail과 loc는 조금 달라요!

# iloc 속성으로 행 단위 데이터 추출하기

# 파이썬 슬라이싱 구문을 조합하여 원하는 데이터 추출하기

# iloc 속성과 range 메서드로 원하는 데이터 추출하기

# 열 지정값에 파이썬 슬라이싱을 사용하여 원하는 데이터 추출하기

# loc, iloc 자유자재로 사용하기

# 그룹화한 데이터의 평균 구하기

# 그룹화한 데이터의 개수 세어보기

# 그래프 만들기